@import url("https://fonts.googleapis.com/css2?family=Squada+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Carter+One&family=Squada+One&display=swap");

/* .body {
  background-color: #5786c7;
  height: 100vh;
} */

/* ======== HEADER ========= */

.header h1 {
  color: #d44349;

  font-family: "Squada One", cursive;
  /* font-family: "Carter One", cursive; */
}

.header {
  min-height: 10vh;
}

.container {
  background-color: white;
  width: 90%;
}

.logo {
  height: 100px;
  width: 100px;
}

/* ======== HOME PAGE ========= */

.thead {
  background-color: #5786c7;
  color: white;
}

/* ======== PRODUCT DETAILS ========= */

.product-details {
  padding: 5%;
  padding-left: 2%;
  border-radius: 1%;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px,
    rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

.product-name {
  font-family: "Squada One", cursive;
  color: #5786c7;
}

/* ======== NEW PRODUCT FORM ========= */

.prod-form {
  padding: 3%;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px,
    rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}
